.body {
    background-color: aquamarine;
  }

  .checkbox {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    padding: 20px;
    font-family: sans-serif;
  }

  .title {
    background-color: white;
  }

  .Footer {
    text-align: center;
  }
  .section {
    padding-left: 10px;
  }