.body {
    background-color: aquamarine;
  }

  .checkbox {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    padding: 20px;
    font-family: sans-serif;
  }

  .title {
    background-color: white;
  }

  .Footer {
    text-align: center;
  }
  .section {
    padding-left: 10px;
  }

  .one {
    background-color: rgb(255, 0, 0);
  }

  .three {
    background-color: rgb(0, 0, 255);
  }

  .two {
    background-color: rgb(0, 127, 0);
  }